﻿@model (todo_domain_entities.Todo_Task Product, string ThemeColor, string TitleText, string CallbackMethodName)

@{
    todo_domain_entities.Todo_Task product = Model.Product;
}

<h3 class="bg-@Model.ThemeColor text-white text-center p-1">@Model.TitleText a ToDo List</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="@Model.CallbackMethodName" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (product.Id != 0)
            {
                <div class="form-group" hidden>
                    <label asp-for="@product.Id" class="control-label"></label>
                    <input asp-for="@product.Id" class="form-control" readonly />
                </div>
            }

            <div class="form-group">
                <label asp-for="@product.Name" class="control-label"></label>
                <input asp-for="@product.Name" class="form-control" />
                <span asp-validation-for="@product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@product.DateStart" class="control-label"></label>
                <input asp-for="@product.DateStart" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="@product.Date" class="control-label"></label>
                <input asp-for="@product.Date" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <label asp-for="@product.IsComplete" class="control-label"></label>
                <input asp-for="@product.IsComplete" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@product.Tasks" class="control-label"></label>
                <input asp-for="@product.Tasks" class="form-control" />
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-success">Save</button>
                <a class="btn btn-danger" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
