﻿@model todo_domain_entities.Todo_List

<table class="table table-sm table-bordered table-striped">
    <tbody>
        <tr>
            <th>Name</th>
            <td>@Model?.Name</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model?.Description</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>@Model?.Category</td>
        </tr>
        <tr>
            <th>Tasks</th>
        <tr/>
    </tbody>
</table>

<table class="table table-sm table-bordered table-striped">
    <tbody>
        <tr>
            @foreach (var p in Model.Tasks)
            {
            <tr>
                <td>@p.Name</td>
                <td>@p.Tasks</td>
                <td>@p.DateStart</td>
                <td>@p.Date</td>
                    @if (p.IsComplete == false)
                    {
                    <td>
                        <a class="btn btn btn-warning btn-sm" asp-action="Complete" asp-route-productId="@p.Id">
                            Uncomplete
                        </a>
                    </td>
                    }
                    else
                    {
                    <td>
                        <a class="btn btn btn-success btn-sm" asp-action="Complete" asp-route-productId="@p.Id">
                            Complete
                        </a>
                    </td>
                    }
                <td>
                    <a class="btn btn btn btn-secondary btn-sm" asp-action="EditTask" asp-route-productId="@p.Id">
                        Edit
                    </a>
                </td>
                <td>
                    <a class="btn btn btn btn-danger btn-sm" asp-action="DeleteTask" asp-route-productId="@p.Id">
                        Delete
                    </a>
                </td>
            </tr>
            }
    </tbody>
</table>
