﻿@model todo_domain_entities.Todo_Task

@{
    todo_domain_entities.Todo_Task task = Model;
}

@if (!task.IsComplete)
{
    <h3 class="bg-info text-white text-center p-1">Are you sure you want to complete this task?</h3>
    <form asp-action="Complete" method="post">
        <input type="submit" class="btn btn-success" value="Complete" />
        <a class="btn btn-secondary" asp-action="Index">Back</a>
    </form>
}
else
{
    <h3 class="bg-info text-white text-center p-1">Are you sure you want to uncomplete this task?</h3>
    <form asp-action="Complete" method="post">
        <input type="submit" class="btn btn-danger" value="Uncomplete" />
        <a class="btn btn-secondary" asp-action="Index">Back</a>
    </form>
}