﻿@model todo_domain_entities.Todo_List

@{
    Layout = "_EditLayout";
}

<h3 class="bg-danger text-white text-center p-1">Are you sure you want to delete list?</h3>


<form asp-action="Delete" method="post">
    <input type="submit" class="btn btn-danger" value="Delete" />
    <a class="btn btn-secondary" asp-action="Index">Back</a>
</form>