﻿@model todo_domain_entities.Todo_List

@{
    Layout = "_EditLayout";
}

<h3 class="bg-info text-white text-center p-1">Details</h3>

<partial name="_ProductInfo" model="@Model" />

<a class="btn btn btn-primary" asp-action="AddTask" asp-route-productId="@Model.Id">
    Add Task
</a>
<a class="btn btn-secondary" asp-action="Edit" asp-route-productId="@Model?.Id">Edit List</a>
<a class="btn btn-danger" asp-action="Index">Back</a>