﻿@model TodoListViewModel

@{
    var route = this.Model.CurrentCategory is null ? "pagination" : "categoryPage";
}

@if (Model?.Todo_Lists.Count() > 0)
{
    @foreach (var p in Model?.Todo_Lists ?? Enumerable.Empty<todo_domain_entities.Todo_List>())
    {
        foreach (var l in p.Tasks)
        {
            if (l.Date.Date == DateTime.Today)
            {
                <tr>
                    <partial name="_ListSummaryToday" model="p" />
                </tr>
            }
        }
    }
}
else
{
    <tr>
        <td colspan="5" class="text-center">No Products</td>
    </tr>
}

<div page-model="@Model?.PagingInfo" page-classes-enabled="true" page-route=@route
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model?.CurrentCategory!"
     class="btn-group pull-right m-1">
</div>

<div class="row m-1 p-1" style="width:50px; text-align:center">
    <a class="btn btn-primary" asp-action="Create">
        <i class="fa fa-plus"></i>
    </a>
</div>


