﻿<!DOCTYPE html>
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
          rel="stylesheet" />
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Organizer Application</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-light bg-light p-2">
        <span class="navbar-brand mb-0 h1 ml-2">Organizer</span>
    </nav>
    <div class="container-fluid">
        <div class="row p-2">
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
