﻿@model todo_domain_entities.Todo_List

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model?.Name
            <span class="badge rounded-pill bg-primary text-white"
                  style="float:right">
                <a class="btn btn-dark btn-sm" asp-action="Details" asp-route-productId="@Model.Id">
                    <i class="fa fa-external-link-square"></i>
                </a>
                <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-productId="@Model.Id">
                    <i class="fa fa-pencil-square"></i>
                </a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-productId="@Model.Id">
                    <i class="fa fa-minus-square"></i>
                </a>
            </span>
        </h4>
    </div>
    <div class="card-text p-1">@Model?.Description</div>
    <table class="table table-sm table-bordered table-striped">
        <tbody>
            @foreach (var p in Model.Tasks)
            {
                if (p.Date.Date == DateTime.Today)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>@p.Tasks</td>
                        <td>@p.DateStart</td>
                        <td>@p.Date</td>
                        @if (p.IsComplete == false)
                        {
                            <td>
                                <a class="btn btn btn-warning btn-sm" asp-action="Complete" asp-route-productId="@p.Id">
                                    Uncomplete
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a class="btn btn btn-success btn-sm" asp-action="Complete" asp-route-productId="@p.Id">
                                    Complete
                                </a>
                            </td>
                        }
                    </tr>
                }
                }
            <tr>
                <td>
                    <a class="btn btn btn-primary btn-sm" asp-action="AddTask" asp-route-productId="@Model.Id">
                        Add Task
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


