﻿@model IEnumerable<string>

<div class="d-grid gap-2">
    <a class="btn btn-outline-secondary" asp-route="default">
        All
    </a>
    <a class="btn btn-outline-secondary" asp-route="today">
        Today
    </a>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-mdb-toggle="dropdown"
                aria-expanded="false">
            Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    @foreach (string category in Model ?? Enumerable.Empty<string>())
    {
       <a class="dropdown-item btn @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-outline-secondary")"
       asp-route="category" asp-route-category="@category">
            @category
       </a>
    }
    </div>
    </div>
</div>


